html{
  font-size: 62.5%;/*16px * 62.5% = 10px = 1rem : compatible with any browser*/
  box-sizing: border-box;/*prend en consideration les border et les padding de l'element*/
}
body{
  font: 1.6rem Helvetica,Arial,sans-serif;
  height: 100vh;/*viewPort Height : The viewport is the user's visible area of a web page.*/
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#roo{
  height: 100%;
}
.grid-container{
  display:grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";/*three rows one column*/
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto 5rem;
  height: 100%;/*the grid cover tha whole viewPort */
}
header{
  grid-area: header;
  background-color: #203040;
}
main{
  grid-area: main;
 
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/*common*/
h1{
  font-size: 2rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.8rem;
  
}

a{
  text-decoration: none;
}
a:hover{
  color: rgb(237, 143, 100);
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  margin-top:1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{/*add subclass*/
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;/* 1/4 shrinkable width */
}
.col-2{
  flex: 2 1 50rem;/* 1/2 shrinkable width */
}
/*header*/
header a{
  color: #ffffff;
  margin-right:2rem;
}
a.brand{/*a that has brand class :override a */
color: #ffffff;
font-size: 3rem;
font-weight: bold;
margin-left: 2rem;
}



/*image */
img{
  border-radius: .5rem;
}
img.medium{
  max-width:29rem ;
  height:34rem;
  width: 100%;
}

/*card */
.card{
  border:0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: .5rem;
  margin:1rem;
  /* min-height:50rem;
  max-height:50rem; */
  transition: transform .2s;
}
.card:hover {
  transform: scale(1.02); 
}

.card-body{
 text-align: center;
  padding: 1rem;
}
.card-body > * {/*select all direct child of card-body */
margin-bottom: .5rem;
}

.price{
  font-size: 2rem;

}

/*rating*/
.rating span{
  color:#F0C040;
  margin: .1rem;
}
.rating span:last-child{
  color: #404040;
}
/*  */
.error{
  color: brown;
}
.success{
  color: rgb(23, 151, 23);
}